/* 
Действуйте поэтапно:
Создайте блок с классом .animation размером 150 x 150 px цвета #f00.
2. При помощи трансформаций передвиньте блок на 100 px вправо.

3. Добавьте перемещение по оси Y вниз на расстояние, равное высоте блока.

4. Затем добавьте увеличение блока в 2 раза и поворот элемента на 145 
градусов по часовой стрелке.

5. Добавьте возможность плавно (линейно) за 500 ms изменять фон блока 
с #f00 до #ff0 при наведении мыши на родительский блок.
u
u6. Добавьте линейную анимацию к пунктам 2, 3, 4 так, чтобы блок перемещался 
в течении 3 секунд постепенно и в конце элемент оставался в последней позиции.
7.  Сделайте так, чтобы анимация работала в следующем порядке зациклено 
2->3->4->4->3->2, где 4->4 — пауза.
*/

.wrap {
    width: 150px;
    height: 150px;
    animation: moving 7s linear infinite alternate;
}

@keyframes moving {
    from {}
    14% {transform: translateX(100px);}
    28% {transform: translate(100px, 100%);}
    42% {transform: translate(100px, 100%) scale(2) rotate(145deg);}
    100% {transform: translate(100px, 100%) scale(2) rotate(145deg);}
}

.inner {
    width: 150px;
    height: 150px;
    background-color: red;
    transition: background-color 500ms linear;
}

.inner:hover {
    background-color: yellow; 
}