@font-face {
font-family: "FontAwesome";
font-weight: normal;
font-style : normal;
       src : url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0");
       src : url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0") format("embedded-opentype"),
             url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2?v=4.3.0") format("woff2"),
             url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0") format("woff"),
             url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0") format("truetype"),
             url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg");
}

header h1{
    text-align: center;
    padding: 20px;
    font-weight: bold;
    color: rgb(223, 2, 2);
    font-size: 4em;
    text-shadow: 2px 2px rgb(119, 10, 10);
}

html, body, body * {
    box-sizing: border-box;
}

.products {
    padding: 0; /* reset ul's padding */
}

.product-wrapper {
    padding: 10px;
	width: 100%;
	float: left;
	z-index: 0;
    display: block;
}

.product-main {
    transition: width .2s;
	/* border: 1px solid #b5e9a7; */
	border-radius: 3px;
	background: #fff;
	text-decoration: none;
	color: #474747;
    height: 700px;
    padding: 10px;
}

/* Set bottom border of the product item*/
.product-main::after {
    content: ""; display: block;
    line-height: 0; height: 0;
    clear: both;
}

.product-photo,
.product-info, 
.product-description {
    width: 100%;
}

.product-info, 
.product-description {
    padding: 10px;
}

.product-photo {
    position: relative;
    overflow: hidden;
    height: 400px;
    text-align: center;
}

.product-photo > img {
    width: auto;
    height : auto;
    max-height: 100%;
    max-width: 100%;
    transition: transform .4s ease-out;
    text-align: end;
    position: absolute;
    bottom: 0;
    margin-left: -50%; 
}

/* Like button */
.product-preview {
	position: absolute;
	bottom: 20px;
	left: 20px;
	right: 20px;
	margin: auto;
	display: inline-block;
	transition: opacity, transform .2s ease-out;
	transform: translateY(2em);
	opacity: 0;
}

.product-wrapper:hover .product-preview {
	transform: translateY(0);
	opacity: 1;
}

.button {
	display: inline-block;
	width: 50%;
	background: #ff1100;
	color: #fff;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	text-align: center;
	border: 0;
	padding: 10px 0;
	border-radius: 20px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .1);
	box-shadow: 1px 1px 10px rgba(0, 0, 0, .4);
	cursor: pointer;
    margin-left: -10%;
}

.button:hover {
	opacity: .9;
}

.btn-counter { margin-right: 39px; }

.btn-counter:after,
.btn-counter:hover:after { text-shadow: none; }

.btn-counter:after {
  border-radius: 10px;
  border: 1px solid #d3d3d3;
  background-color: #eee;
  padding: 0 8px;
  color: #777;
  content: attr(data-count);
  position: relative;
  float: right;
  z-index: 1;
}

.btn:hover,
.btn.active {
  text-shadow: 0 1px 0 #b12f27;
  background-color: #f64136;
  border-color: #b12f27;
}
.btn:active { box-shadow: 0 0 5px 3px rgba(0,0,0,0.2) inset; }
.btn span { color: #f64136; }
.btn:hover, .btn:hover span,
.btn.active, .btn.active span { color: #eeeeee; }
.btn:active span {
  color: #b12f27;
  text-shadow: 0 1px 0 rgba(255,255,255,0.3);
}

/* End of Like button */

input:checked ~ .products .product-wrapper {
    width: 100%;
}
input:checked ~ .products .product-main {
    height: auto;
}

input:checked ~ .products > .product-wrapper .product-photo,
input:checked ~ .products > .product-wrapper .product-info,
input:checked ~ .products > .product-wrapper .product-description {
    float: left;
}

input:checked ~ .products > .product-wrapper .product-photo {
    width: 300px;
}

input:checked ~ .products > .product-wrapper .product-photo img{
    top: 0;
    bottom: auto;
}

input:checked ~ .products > .product-wrapper .product-info {
    width: calc(65% - 300px);
   /*  text-align: center; */
}

input:checked ~ .products > .product-wrapper .product-description {
    width: 35%;
}


/* Text styling */
.product-title {
    font-size: 1.5em;
    white-space: nowrap; /* Отменяем перенос текста */
    overflow: hidden; /* Обрезаем содержимое */
    padding: 5px; /* Поля */
    text-overflow: ellipsis; /* Многоточие */
}

.product-category a{
    color: rgb(88, 86, 86);
    font-size: 0.8em;
}

.product-price-new {
    display: inline;
    color: rgb(100, 4, 4);
    font-weight: bolder;
    font-size: 1.5em;
}

.product-price-old {
    display: inline;
    text-decoration: line-through;
}

/* Rating stars */
fieldset, label { margin: 0; padding: 0; }
/****** Style Star Rating Widget *****/
.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 


/* Hovering */
.product-wrapper:hover .product-title a{
    color: red;
}

.product-wrapper:hover .product-photo img {
    transform: scale(1.05);
    opacity: 0.7;
}

.product-category .a{
    color: rgb(56, 53, 53);
}

/* Media queries for adaptive layout */
@media only screen and (min-width: 550px) {
	.product-wrapper {
		width: 50%;
	}
}

@media only screen and (min-width: 968px) {
	.product-wrapper {
		width: 33.333%;
	}
}

@media only screen and (min-width: 1300px) {
	.product-wrapper {
		width: 25%;
	}
}