.products {
    margin: 0 auto;
}

.product-wrapper {
    display: block;
    float: left;
    width: 100%;
    /* max-width: 380px; */
    transition: width .2s;
    overflow: hidden;
}

.product {
    display: block;
	border: 2px solid  rgb(3, 172, 250);
	border-radius: 3px;
	position: relative;
    background: #fff;
	margin: 0 20px 20px 0;
	text-decoration: none;
	color: #474747;
	z-index: 0;
	/* height: 500px; */
}

.product-photo {
    position: relative;
    padding-bottom: 100%;
    overflow: hidden;
}

.product-photo img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    transition: transform .4s ease-out;
}

.product:hover .product-photo img {
    transform: scale(1.05);
    opacity: 0.7;
}

.product:hover .product-title a{
    color: red;
}

.product-text {
    padding: 10px;
}

.product-title {
    font-weight: bold;
    font-size: 1.5em;
}

.product-category {
    font-size: .7em;
    color: gray;
}

.product-rating {
    color: yellow;
}

.product-price {
    display: inline;
    color: rgb(177, 14, 14);
    font-weight: bolder;
    font-size: 1.5em;
}

.product-price-old {
    font-size:.8em;
    color: gray;
    text-decoration: line-through;
}


/* Layout buttons */
.layout-buttons {
	float: right;
	font-size: 30px;
	line-height: 34px;
	color: #ccc;
}

.layout-buttons span {
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
	cursor: pointer;
}

.layout-buttons .active {
	color: #943cbc;
	pointer-events: none;
}

.layout-buttons .icon-table {
	font-size: 35px;
}


.table-layout .product {
    width: 50%;
    float: left;
    background: #fff;
}

.table-layout .product-description {
	position: static;
	visibility: visible;
	opacity: 1;
	transform: scaleY(1);
}



/* Media queries for adaptive design */
@media only screen and (min-width: 600px) {
	.product-wrapper {
		width: 50%;
	}
}

@media only screen and (min-width: 1170px) {
	.product-wrapper {
		width: 33.333%;
	}
}

@media only screen and (min-width: 1440px) {
	.product-wrapper {
		width: 25%;
	}
}

.product-main::after {
    content: ""; display: block;
    line-height: 0; height: 0;
    clear: both;
}

#layout_grid_on, #layout_grid_off {
    display: none;
}

#layout_grid_off:checked ~ .products .product-wrapper {
    width: 100%;
    float: none;
}


#layout_grid_off:checked  ~ .products .product-photo,
#layout_grid_off:checked  ~ .products .product-text,
#layout_grid_off:checked  ~ .products .product-description {
    /* float: left; */
}

#layout_grid_off:checked  ~ .products .product-photo {
    /* float: right; */
}

#layout_grid_off:checked  ~ .products .product-text {
    /* display: inline; */
}

#layout_grid_off:checked  ~ .products .product-description {
    
}

#layout_grid_off:checked  ~ .product-main {
    width: 50%;
    float: left;
    background: #fff;
}

#layout_grid_off:checked ~ .product-description {
	position: static;
	visibility: visible;
	opacity: 1;
	transform: scaleY(1);
}