body {
    
    background: black;
}

.layer {
    margin: 0 auto;
    background: url("./images/layer3.png");
    height: 4634px;
    width: 993px;
}

.wrapper {
    position: relative;
    margin: 0 auto;
    background: url("./images/all.png");
    height: 4634px;
    width: 993px;
}

.blue,
.red,
.yellow {
    position: absolute;
    width: 135px;
    height: 135px;
    display: inline-block;
    border-radius: 50%;
}

.people1 {
    top: 1050px;
}

.people2 {
    top: 3935px;
}

.blue {
    left: 195px;
}

.red {
    left: 425px;
}

.yellow {
    left: 660px;
}